
<button type="button" onclick={{action 'deletePost' model}}>
  Delete this email
</button>

<p> ID: {{model.id}} </p>
<p> from: {{model.from}}     to: {{model.to}}</p>
<p> subject: {{model.subject}} </p>
<p> message: {{model.message}} </p>




{{outlet}}
