
<button data-test="delete" id ="delete" type="button" onclick={{action 'deletePost' model}}>
  Delete this email
</button>

<p> ID: {{model.id}} </p>
<p data-test="from"> from: {{model.from}}</p>
<p data-test="to"> to: {{model.to}}</p>
<p data-test="subject"> subject: {{model.subject}} </p>
<p data-test="message"> message: {{model.message}} </p>




{{outlet}}
